
<div id="loginPage">
    <div id="divForm">        
        <h1>Publicações</h1>
        {{#user}}
            <h2>{{username}}</h2>
            <li>{{publicacoes}}</li>
        {{/user}}
    </div>
</div>
