body {
  margin: 0;
  background-color: #f8f9fa;
  color: #202122;
  overflow-y: scroll;
}

/*Barra de navegacao principal*/
#navbar {
  height: 40px;
  padding: 10px 15px;
  background: #333;
  border-bottom: 5px #08c solid;
}

@media (max-width: 830px) {
  #navbar ul li {
    padding-left: 5px;
    padding-right: 5px;
  }
}

@media (max-width: 680px) {
  #navbar ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    overflow: hidden;
    float: none;
  }
}

@media (max-width: 680px) {
  #navbar ul li {
    padding: 0;
    float: none;
  }
}

@media (max-width: 830px) {
  #home {
    display: none;
  }
}

/*logo*/
html > body #navbar-logo {
  background: url("https://wiki.archlinux.org/extensions/ArchLinux/modules/archnavbar/archlogo.svg?29b1c")
    no-repeat;
  background-size: 190px 40px;
}

#navbar-logo {
  float: left;
  margin: 0;
  padding: 0;
  height: 40px;
  width: 190px;
}

#navbar-logo a {
  display: block;
  height: 40px;
  width: 190px;
}

@media (max-width: 830px) {
  html > body #navbar-logo {
    padding-right: 15px;
  }
}

@media (max-width: 680px) {
  html > body #navbar-logo {
    width: 40px;
    margin-right: 5px;
    background: url("https://wiki.archlinux.org/extensions/ArchLinux/modules/archnavbar/archicon.svg?0c6bc")
      no-repeat;
    background-size: 40px 40px;
  }
}

/*navlista*/
#navbar-lista {
  display: inline;
  float: right;
  list-style: none;
  padding: 0;
  margin: 0;
}

#navbar-lista li {
  float: left;
  font-size: 14px;
  font-family: sans-serif;
  line-height: 45px;
  padding-right: 15px;
  padding-left: 15px;
}

#navbar-lista li a {
  color: #999;
  font-weight: bold;
  display: inline-block;
  text-decoration: none;
}

#navbar-lista li a:hover {
  color: #ffffff;
}
.article {
    padding: 0 15px;
    max-width: 103.125em;
    min-height: 100%;
    margin-left: auto;
    margin-right: auto;    
}
/*Header*/
#article-header {
  margin: 15px 0 5px 0;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  position: relative;
}

.navbar-buttons {
  padding: 12px 0px 12px 0px;
  display: block;
  min-width: 20px;
  min-height: 20px;
  background-position: center;
  background-repeat: no-repeat;
}

#search-button {
    background-image: url("https://wiki.archlinux.org/load.php?modules=skins.vector.icons&image=search&format=original&skin=vector&version=14c6t");
    position: absolute;
    top: 0;
    margin-left: 8px;
    min-height: 20px;
    height: 100%;
    min-width: 20px;
    background-position: center;
    background-repeat: no-repeat;
}

@media screen and (max-width: 680px) {
    #search-button {
        margin-left: 180px;
    }
}


#sidebar-button {
  background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2220%22 height=%2220%22 viewBox=%220 0 20 20%22%3E %3Ctitle%3E menu %3C/title%3E %3Cpath d=%22M1 3v2h18V3zm0 8h18V9H1zm0 6h18v-2H1z%22/%3E %3C/svg%3E");
}

@media screen and (max-width: 680px) {
  #barra-pesquisa {
    display: none;
  }
}

#searchbar {
    float: left;
    margin-left: 67px;
    margin-right: 0.75em;
    box-sizing: border-box;
    flex-grow: 1;
}

#barra-pesquisa {
  width: 450px;
  margin: 0;
  border: 1px solid #a2a9b1;  
  border-radius: 2px;
  padding: 8px 8px 8px 36px;
  font-family: sans-serif;
  font-size: 14px;
}

#user-links {
  display: flex;
  align-items: center;
}

#create-account {
  font-size: 1em;
  white-space: nowrap;
  padding: 5px 12px;
}

@media screen and (max-width: 680px) {
    #create-account {
        display: none;
    }
}

#create-account a {
  color: #0077bb;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  font-family: sans-serif;
}

#create-account a:hover {
  color: #999;
  text-decoration: underline;
}

#logout {
  background-image: url("https://wiki.archlinux.org/load.php?modules=skins.vector.icons&image=ellipsis&format=original&skin=vector&version=14c6t");
}

/*Barra de navegacao conteudo*/
#tab-content {
  max-width: 61em;
  margin-left: auto;
  margin-right: auto;
}

#content-navbar ul {
  list-style: none;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#content-navbar li {  
  float:left;
  display: block;
  height: 100%;
  margin: 0;
  padding: 0;
  line-height: 1.125em;
  white-space: nowrap;
}

#content-navbar li a {
  box-sizing: border-box;
  display: block;  
  height: 3.07692308em;  
  padding-top: 1.25em;
  padding-left: 8px;
  padding-right: 8px;
  font-size: 0.8125em;
  cursor: pointer;  
}

.tabs-nosel {
    background-image: linear-gradient(to bottom,rgba(167,215,249,0) 0,#a7d7f9 100%);
    background-repeat: no-repeat;
    background-size: 1px 100%;
    background-position: right bottom;
    border-bottom: 1px solid #cccccc;
    background-color: #f8f9fa;
}

@media (max-width: 830px) {
    html > body #content-navbar li a {
    box-sizing: border-box;
    display: block;
    float: left;
    height: 3.07692308em;
    position: relative;
    padding-top: 1.25em;
    padding-left: 5px;
    padding-right: 5.5px;
    font-size: 0.8125em;
    cursor: pointer;
  }
}

.tabs-select {
    border: 1px solid #cccccc;
    border-bottom-color: #ffffff;    
    background: #ffffff;
}

.menu-tabs {
    float: left;
    height: 39px;    
}

#readbt {
    font-weight: normal;
    border-left: 1px solid #a2a9b1;
}

#nav-left {
    margin-left: 0;
    float: left;
}

#nav-right {
    margin-right: 1px;
    float: right;
}

#nav-right ul {
  float: right;
}

#nav-left a,
#nav-right a {
  color: #0077bb;
  text-decoration: none;
}

#nav-left a:hover,
#nav-right a:hover {
  color: #999;
  text-decoration: underline;
}

/*conteudo*/
#content {
  max-width: 90em;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

#content-main {
  margin-top: -1px;
  margin-left: 0;
}

#content-main h1 {
  color: #222222;
  font-size: 1.8em;
  font-family: sans-serif;
  margin-bottom: 0.25em;
  padding: 0;
  line-height: 1.3;
  font-weight: normal;
  border-bottom: 1px solid #a2a9b1;
  margin: 0;
}

#content-main h2 {
  color: #222222;
  font-family: sans-serif;
  margin-top: 1em;
  font-size: 1.3em;
  margin-bottom: 0.25em;
  padding: 0;
  line-height: 1.3;
  font-weight: normal;
  border-bottom: 1px solid #a2a9b1;
}

#content-main-text p {
  color: #202122;
  font-size: 0.875em;
  line-height: 1.6;
  font-family: sans-serif;
}

@media screen and (min-width: 721px) {
  .archwiki-main-columns {
    column-count: 2;
  }
}

@media screen and (min-width: 721px) {
  .archwiki-main-columns > * {
    page-break-inside: avoid;
    display: inline-block;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.archwiki-main-columns dt a {
  text-decoration: none;
  color: #0077bb;
  font-weight: bold;
  font-size: 0.875em;
  line-height: 1.6;
  font-family: sans-serif;
}

.archwiki-main-columns dd {
  color: #202122;
  font-size: 0.875em;
  line-height: 1.6;
  font-family: sans-serif;
  margin-left: 1.6em;
  margin-right: 0;
  display: block;
}

#cat-links {
  border: 1px solid #a2a9b1;
  background-color: #f8f9fa;
  padding: 5px;
  margin-top: 1em;
  clear: both;
}

#cat-links {
  text-decoration: none;
  font-size: 0.875em;
  line-height: 1.6;
  font-family: sans-serif;
}

#cat-links-a1 {
  color: #666;
}

/*div Main*/
#div-main {
  padding: 1.25em 0.4em 1.5em;
  margin-left: auto;
  margin-right: auto;
  display: block;
  background-color: #ffffff;
  border-width: 1px;
  border-style: solid;
  border-color: #ccc #ccc #ccc;
  max-width: 60em;
  clear: both;
  margin-top: -1px;
}
/*footer*/
#container-footer {
  padding-top: 50px;
  padding-bottom: 82px;
  max-width: 90em;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

#div-footer {
  max-width: 60em;
  margin-left: auto;
  margin-right: auto;
}

#footerid {
  border-top: 1px solid #a2a9b1;
  padding: 0.75em;
  color: #333333;
}

#footerid ul {
  list-style: none none;
  margin: 0;
  padding: 0;
}

#footerid ul li {
  line-height: 1.4;
  color: #202122;
  padding: 0.5em 0;
  font-size: 0.75em;
  font-family: sans-serif;
}

#footer-places li {
  float: left;
  margin-right: 1em;
  line-height: 2;
  margin-right: 1em;
}

/*barra de pesquisa - lateral*/
#sidebar {
  display: none;
  position: absolute;
  left: -1.875em;
  width: 11em;
  box-sizing: border-box;
  padding: 8px 0 40px 0.8125em;
  z-index: 1;
}

.sidebar-section-tittle {
  font-size: 0.75em;
  font-weight: normal;
  background-image: url("https://wiki.archlinux.org/skins/Vector/resources/common/images/portal-separator.png?4ab04");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: 100%;
}

.sidebar-block {
  margin: 0 0.6em 0 0.7em;
  padding: 0.25em 0;
}

.sidebar-block ul {
  list-style: none none;
  margin: 0;
  padding: 0.3em 0 0 0;
}

.sidebar-block li {
  margin: 0;
  padding: 0.25em 0;
  font-size: 0.75em;
  line-height: 1.125em;
  word-wrap: break-word;
}

/*links da pagina*/
.links a {
  text-decoration: none;
  color: #0077bb;
}

.links a:hover {
  text-decoration: underline;
  color: #999999;
}

#loginPage {
  margin-top: 20px;  
  max-width: 60em;
  margin-left: auto;
  margin-right: auto;
}

#loginPage h1{
  color: #222222;
  font-size: 1.8em;
  font-family: sans-serif;
  margin-bottom: 0.25em;
  padding: 0;
  line-height: 1.3;
  font-weight: normal;
  border-bottom: 1px solid #a2a9b1;
  margin: 0;
}

#divForm{
  margin-top: 30px;
  display: column;
}

.btnLogin{
  background-color: #3366cc;
  color: #fff;
  font-family: sans-serif;
  font-size: 1em;
  font-weight: bold;
  border: 1px solid #3366cc;
  border-radius: 2px;
  padding: 5px 15px;
}

.inputLogin{
  margin-top: 5px;
  padding: 3px;
}

#mostraLogin{
  margin-top: 30px;
}

#divShowLogin{
  max-width: 61em;
  margin-left: auto;
  margin-right: auto;
}

.form-group{
  display: flex;
  flex-direction: column;
  max-width: 61em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;  
}

#loggedInPage{
  max-width: 61em;
  margin-left: auto;
  margin-right: auto;
}

.resultLabel{
  margin-top: 15px;
}

.resultLabel{
  font-family: sans-serif;
  font-size: 1em;
}

.classLi{
  margin-top: 5px;
  list-style: none;
  font-family: sans-serif;
  font-size: 1.2em;
  font-weight: bold;
}

.errorMsg{
  list-style: none;
  color: red;
  font-weight: bold;
  font-size: 15px;
  margin-top: -15px;
  margin-bottom: 10px;
}